<ng-container *ngIf="loading; else elseTemplate">
  <div fxLayout="row" fxLayoutAlign="center center">
    <md-spinner></md-spinner>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <md-list>
    <md-list-item class="item-clickable" *ngFor="let team of teams">
      <p md-line>{{team.name}}</p>
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon class="material-icons grey-color">more_vert</md-icon>  
      </button>  
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="openEditDialog(team)">Edit</button>
        <button md-menu-item (click)="confirmDelete(team)">Delete</button>
      </md-menu>
    </md-list-item>
  </md-list>
  <p *ngIf="!teams.length">Nothing to display.</p>
</ng-template>
