<ng-container *ngIf="loading; else elseTemplate">
  <div fxLayout="row" fxLayoutAlign="center center">
    <md-spinner></md-spinner>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <md-list>
    <md-list-item *ngFor="let agent of agents">
      <h4 md-line>{{agent.name}}</h4>
      <p md-line>{{agent.employee_number}}</p>
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon class="material-icons grey-color">more_vert</md-icon>  
      </button>  
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="openEditDialog(agent)">Edit</button>
        <button md-menu-item (click)="confirmDelete(agent)">Delete</button>
      </md-menu>
    </md-list-item>
  </md-list>  
  <p *ngIf="!agents.length">Nothing to display.</p>
</ng-template>
