<md-card fxFlex>
  <md-card-subtitle>Score</md-card-subtitle>
  <md-card-content fxLayout="row" fxLayoutAlign="center center">
    <div>
      <span class="mat-headline">{{score}}%</span>
    </div>
  </md-card-content>
  <md-card-subtitle>Total Points</md-card-subtitle>
  <md-card-content fxLayout="row" fxLayoutAlign="center center">
    <div>
      <span class="mat-headline">{{totalPoints}}</span>
    </div>
  </md-card-content>
  <md-card-subtitle>Total Items</md-card-subtitle>
  <md-card-content fxLayout="row" fxLayoutAlign="center center">
    <div>
      <span class="mat-headline">{{totalItems}}</span>
    </div>
  </md-card-content>
</md-card>