<form fxLayout="column" fxLayoutGap="20px" [formGroup]="loginForm.formGroup" (ngSubmit)="login()" novalidate> 
  <app-error [message]="error.message" *ngIf="error && !busy"></app-error>
  <!-- Server response error  -->
  <div fxLayout="row">
    <!-- Email -->
    <md-form-field fxFlex>
      <input type="text" name="Email" placeholder="Email" formControlName="email" mdInput>
      <md-error *ngIf="loginForm.errors.email">{{ loginForm.errors.email }}</md-error>
    </md-form-field>
  </div>
  <div fxLayout="row">
    <!-- Password -->
    <md-form-field fxFlex>
      <input type="password" name="Password" placeholder="Password" formControlName="password" mdInput>
      <md-error *ngIf="loginForm.errors.password">{{ loginForm.errors.password }}</md-error>
    </md-form-field>
  </div>
  <a href="{{passwordResetLink}}">Having trouble logging in?</a>

  <div fxLayout="column" fxLayoutGap="20px" *ngIf="!busy">
    <button md-raised-button color="primary">Login</button>
  </div>
  <md-spinner *ngIf="busy"></md-spinner>
</form>

