<form novalidate [formGroup]="form.formGroup" (ngSubmit)="submit()" class="app-container">
  <md-toolbar class="mat-elevation-z4">
    <span>Edit Evaluation</span>
  </md-toolbar> 

  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div fxLayout="column" fxFlex.gt.xs="100" fxFlex.md="80" fxFlex.lg="70" fxFlex.xl="60" fxLayoutGap="20px">
      <div fxLayout="row">
        <app-details [formService]="form" [evaluation]="evaluation" [submitted]="submitted"></app-details>
        <app-score-card fxFlex="20" *ngIf="form.formGroup.controls.score.value" [score]="form.formGroup.controls.score.value" [totalPoints]="form.formGroup.controls.total_points.value" [totalItems]="form.formGroup.controls.total_items.value"></app-score-card>
      </div>
      <app-other-information [formService]="form"></app-other-information>
      <app-categories [formService]="form"></app-categories>
      <app-remarks [formService]="form"></app-remarks>
    </div>
  </div>

  <button type="submit()" md-fab class="md-fab-bottom-right" mdTooltip="Submit" [mdTooltipPosition]="'above'">
    <md-icon class="material-icon">check</md-icon>
  </button>
</form>