<h2 md-dialog-title>Change Password</h2>
<form [formGroup]="form.formGroup" (ngSubmit)="submit()" novalidate>
  <md-dialog-content fxLayout="column" fxLayoutGap="20px">
    <!-- Old Password -->
    <div fxLayout="column">
      <div fxLayout="row">
        <md-form-field fxFlex>
          <input type="password" name="Old Password" placeholder="Old Password" formControlName="oldPassword" mdInput>
          <md-error *ngIf="form.errors.oldPassword">{{ form.errors.oldPassword }}</md-error>
        </md-form-field>
      </div>
      <app-input-error *ngIf="invalidPassword && form.formGroup.controls.oldPassword.dirty" message="Invalid password."></app-input-error>
    </div>
    <!-- New Password -->
    <div fxLayout="column">
      <div fxLayout="row">
        <md-form-field fxFlex>
          <input type="password" name="New Password" placeholder="New Password" formControlName="newPassword" mdInput>
          <md-error *ngIf="form.errors.newPassword">{{ form.errors.newPassword }}</md-error>
        </md-form-field>
      </div>
      <app-input-error *ngIf="!passwordsMatch && form.formGroup.controls.newPassword.dirty && form.formGroup.controls.newPassword.valid && form.formGroup.controls.confirmPassword.dirty" message="Passwords doesn't match."></app-input-error>
    </div>
    <!-- Confirm Password -->
    <div fxLayout="column">
      <div fxLayout="row">
        <md-form-field fxFlex>
          <input type="password" name="Confirm Password" placeholder="Confirm Password" formControlName="confirmPassword" mdInput>
          <md-error *ngIf="form.errors.confirmPassword">{{ form.errors.confirmPassword }}</md-error>
        </md-form-field>
      </div>
      <app-input-error *ngIf="!passwordsMatch && form.formGroup.controls.newPassword.dirty && form.formGroup.controls.confirmPassword.valid && form.formGroup.controls.confirmPassword.dirty" message="Passwords doesn't match."></app-input-error>
    </div>
  </md-dialog-content>
  <md-dialog-actions *ngIf="!busy" fxLayout="row" fxLayoutAlign="end center">
    <button type="submit" md-button color="primary">Save</button>
  </md-dialog-actions>
  <md-spinner *ngIf="busy"></md-spinner>
</form>