<div class="app-container">
  <md-toolbar class="mat-elevation-z4">
    <span>{{label}}</span>
  </md-toolbar> 

  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div fxLayout="column" fxFlex.gt.xs="100" fxFlex.md="60" fxFlex.lg="50" fxFlex.xl="40">
      <form novalidate [formGroup]="userForm.formGroup" (ngSubmit)="submit()">
        <md-card>
          <md-card-content fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="row" fxLayoutGap="20px">
              <div fxFlex>
                <md-form-field>
                  <input type="text" mdInput placeholder="Name" formControlName="name">
                  <md-error>Name is required.</md-error>
                </md-form-field>
              </div>
    
              <div fxFlex>
                <md-form-field>
                  <input type="email" mdInput placeholder="Email" formControlName="email">
                  <md-error>Email is required and must be valid.</md-error>
                </md-form-field>
                <app-input-error *ngIf="userForm.hasDuplicate && userForm.formGroup.controls.email.valid" message="Email is already in use."></app-input-error>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="20px">
              <div fxFlex>
                <md-form-field>
                  <input type="password" mdInput placeholder="Password" formControlName="password">
                  <md-error>Password is required and must be at least 8 characters.</md-error>
                </md-form-field>
                <app-input-error *ngIf="!userForm.passwordsMatch && userForm.formGroup.controls.password.dirty && userForm.formGroup.controls.password.valid && userForm.formGroup.controls.password_confirmation.dirty" message="Passwords doesn't match"></app-input-error>
              </div>
              
              <div fxFlex>
                <md-form-field>
                  <input type="password" mdInput placeholder="Confirm Password" formControlName="password_confirmation">
                  <md-error>Confirm Password is required and must be at least 8 characters.</md-error>
                </md-form-field>
                <app-input-error *ngIf="!userForm.passwordsMatch && userForm.formGroup.controls.password_confirmation.dirty && userForm.formGroup.controls.password_confirmation.valid && userForm.formGroup.controls.password.dirty" message="Passwords doesn't match"></app-input-error>
              </div>
            </div>
            <h3 class="mat-subheading-2">Roles</h3>
            <div fxLayout="column" fxLayoutGap="20px" formArrayName="roles">
              <div *ngFor="let role of roles; let roleIndex = index" [formGroupName]="roleIndex">
                <md-checkbox color="primary" formControlName="role">{{role.description}}</md-checkbox>
              </div>
            </div>
          </md-card-content>
          <md-card-actions fxLayout="row" fxLayoutAlign="end center">
            <button md-button color="primary" type="submit" *ngIf="!userForm.busy">Save</button>
            <md-spinner *ngIf="userForm.busy"></md-spinner>
          </md-card-actions>
        </md-card>
      </form>
    </div>
  </div>
</div>