<div class="app-container">
  <md-toolbar class="mat-elevation-z4">
    <span>Evaluation</span>
  </md-toolbar> 

  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div fxLayout="column" fxFlex.gt.xs="90" fxFlex.gt-md="85" class="no-scroll-x">
      <md-card fxLayout="column" fxLayoutGap="20px">
        <md-card-content fxLayout="column" fxLayoutGap="20px">
          <form novalidate [formGroup]="form.formGroup">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div fxFlex.lt-lg="50" fxFlex.lg="40" fxFlex.xl="30" fxLayout="row" fxLayoutAlign="start center">
                <md-form-field fxFlex>
                  <input type="text" mdInput placeholder="Search by Name, Campaign, Team, Work Queue or Reference ID" formControlName="searchField">
                </md-form-field>
              </div>
              <button md-raised-button color="accent" (click)="newEvaluationDialog()" *ngIf="canEvaluate">New Evaluation</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
              <md-form-field>
                <input mdInput [max]="form.formGroup.controls.to.value" [mdDatepicker]="from" formControlName="from" placeholder="From">
                <md-datepicker-toggle mdSuffix [for]="from"></md-datepicker-toggle>
                <md-datepicker #from></md-datepicker>
                <md-error>From is required, must be valid and not later than To.</md-error>  
                <md-hint>Time is 00:00</md-hint>
              </md-form-field>
              <md-form-field>
                <input mdInput [min]="form.formGroup.controls.from.value" [mdDatepicker]="to" formControlName="to" placeholder="To">
                <md-datepicker-toggle mdSuffix [for]="to"></md-datepicker-toggle>
                <md-datepicker #to></md-datepicker>
                <md-error>To is required, must be valid and not earlier than From.</md-error>  
                <md-hint>Time is 23:59</md-hint>
              </md-form-field>
              <button md-icon-button (click)="downloadDialog()">
                <md-icon class="material-icon grey-color" mdTooltip="Download">file_download</md-icon>
              </button>
            </div>
          </form>
          <div>
            <app-evaluation-list [evaluations]="evaluations" [loading]="loading"></app-evaluation-list>
          </div>
        </md-card-content>
        <md-card-footer fxLayout="row">
          <md-paginator [length]="total" [pageSize]="perPage" (page)=pageEventCall($event)></md-paginator>
        </md-card-footer>
      </md-card>
    </div>
  </div>
</div>