<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <md-card [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="40" [fxFlex.lg]="30" [fxFlex.gt-lg]="20">
    <md-card-content fxLayout="column" fxLayoutGap="10px">
      <img src="/assets/img/2Color-Logo_247px-1024x195.png" class="site-logo" alt="Mcoy Paco">
      <router-outlet></router-outlet>
    </md-card-content>
  </md-card>
</div>