<h2 md-dialog-title>Save As</h2>
<form [formGroup]="form.formGroup" (ngSubmit)="submit()" novalidate>
  <md-dialog-content fxLayout="column" fxLayoutGap="20px">
    <app-error [message]="'Name already in use.'" *ngIf="hasDuplicate"></app-error>
    <!-- Name -->
    <md-input-container>
      <input type="text" name="Name" placeholder="Name" formControlName="name" mdInput>
      <md-error *ngIf="form.errors.name">{{ form.errors.name }}</md-error>
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button type="submit" md-button color="primary">Save</button>
  </md-dialog-actions>
</form>