<div class="app-container">
  <md-toolbar class="mat-elevation-z4">
    <span *ngIf="questionnaire">{{questionnaire.name}}</span>
    <md-toolbar-row>
      <button md-icon-button mdTooltip="Edit" (click)="edit()">
        <md-icon class="material-icon grey-color">edit</md-icon>
      </button>
      <button md-icon-button mdTooltip="Delete" (click)="confirmDelete()">
        <md-icon class="material-icon grey-color">delete</md-icon>
      </button>
    </md-toolbar-row>
  </md-toolbar> 

  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div fxLayout="column" fxFlex.gt.xs="100" fxFlex.md="80" fxFlex.lg="70" fxFlex.xl="60" *ngIf="questionnaire" fxLayoutGap="20px">
      <md-accordion [multi]="true">
        <md-expansion-panel *ngFor="let item of questionnaire.content">
          <md-expansion-panel-header>
            {{item.name}}
          </md-expansion-panel-header>
          <md-list>
            <md-list-item *ngFor="let question of item.questions">
              <p>{{question.question}} <span class="primary-color">({{question.points}} points)</span></p>
            </md-list-item>
          </md-list>
        </md-expansion-panel>
      </md-accordion>
      
    </div>
  </div>
</div>



