<h2 md-dialog-title>{{agent.name}}</h2>
<form [formGroup]="editAgentForm.formGroup" (ngSubmit)="submit()" novalidate>
  <md-dialog-content fxLayout="column" fxLayoutGap="20px">
    <app-error [message]="'Employee number already in use.'" *ngIf="hasDuplicate && !busy"></app-error>
    <!-- Employee Number -->
    <md-input-container>
      <input type="text" name="Employee Number" placeholder="Employee Number" formControlName="employeeNumber" mdInput>
      <md-error *ngIf="editAgentForm.errors.employeeNumber">{{ editAgentForm.errors.employeeNumber }}</md-error>
    </md-input-container>
    <!-- First Name -->
    <md-input-container>
        <input type="text" name="FirstName" placeholder="First Name" formControlName="firstName" mdInput>
        <md-error *ngIf="editAgentForm.errors.firstName">{{ editAgentForm.errors.firstName }}</md-error>
      </md-input-container>
      <!-- Last Name -->
      <md-input-container>
        <input type="text" name="LastName" placeholder="Last Name" formControlName="lastName" mdInput>
        <md-error *ngIf="editAgentForm.errors.lastName">{{ editAgentForm.errors.lastName }}</md-error>
      </md-input-container>
  </md-dialog-content>
  <md-dialog-actions *ngIf="!busy" fxLayout="row" fxLayoutAlign="end center">
    <button type="submit" md-button color="primary">Save</button>
  </md-dialog-actions>
  <md-spinner *ngIf="busy"></md-spinner>
</form>