<div [formGroup]="form.formGroup" fxLayout="column" fxLayoutGap="20px">
  <div formArrayName="content">
    <md-card *ngFor="let category of form.formGroup.controls.content.controls; let categoryIndex = index" [formGroupName]="categoryIndex">
      <md-card-title>
        {{category.controls.name.value}}
      </md-card-title>
      <md-card-content formArrayName="questions" fxLayout="column" fxLayoutGap="50px">
        <div fxLayout="column" fxLayoutGap="30px" *ngFor="let item of category.controls.questions.controls; let questionIndex = index" [formGroupName]="questionIndex">
          <p class="mat-body-1" fxFlex>{{item.controls.question.value}}</p>
  
          <md-slide-toggle color="primary" formControlName="applicable">Applicable</md-slide-toggle>
          
          <div fxLayout="column" fxLayoutGap="20px" *ngIf="item.controls.applicable.value">
            <div fxLayout="column" fxFlex>
              <md-radio-group fxLayout="row" formControlName="score" value="{{item.controls.score.value}}">
                <md-radio-button fxFlex color="primary" value="{{item.controls.points.value}}">Yes - {{item.controls.points.value}}</md-radio-button>
                <md-radio-button fxFlex color="accent" value="0">No - 0</md-radio-button>
              </md-radio-group>
              <app-input-error *ngIf="item.controls.score.invalid && submitted" message="Response is required."></app-input-error>
            </div>
            <div fxLayout="row">
              <md-form-field fxFlex>
                <textarea mdInput placeholder="Remarks" formControlName="remarks"></textarea>
              </md-form-field>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>