<h2 md-dialog-title>{{ data.title }}</h2>
<md-dialog-content>{{ data.message }}</md-dialog-content>
<md-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button md-button md-dialog-close>{{ data.cancel }}</button>
  <button md-button [md-dialog-close]="true">{{ data.confirm }}</button>
</md-dialog-actions>