<div class="app-container">
  <md-toolbar class="mat-elevation-z4">
    <span>Reference ID: {{evaluation.reference_code}}</span>
    <md-toolbar-row>
      <button md-icon-button routerLink="/evaluation/{{evaluation.id}}/edit" *ngIf="canEdit" mdTooltip="Edit">
        <md-icon class="material-icons grey-color">edit</md-icon>
      </button>
      <button md-icon-button (click)="deleteDialog()" *ngIf="canDelete" mdTooltip="Delete">
        <md-icon class="material-icons grey-color">delete</md-icon>
      </button>
      <button md-icon-button (click)="download(evaluation.id)" mdTooltip="Download">
        <md-icon class="material-icons grey-color">file_download</md-icon>
      </button>
    </md-toolbar-row>
  </md-toolbar> 

  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div fxLayout="column" fxFlex.gt-xs="100" fxFlex.md="90" fxFlex.lg="80" fxFlex.xl="70" fxLayoutGap="20px">
      <div fxLayout="row">
        <md-card fxFlex>
          <md-card-title>Details</md-card-title>
          <md-card-content>
            <md-list fxLayout="row" fxLayoutWrap fxFlex>
              <md-list-item *ngFor="let detail of details" fxFlex="100" fxFlex.gt-sm="50">
                <h3 mdLine>{{ detail.value }}</h3>
                <p mdLine>{{ detail.label }}</p>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
        <md-card fxFlex.gt-sm="20">
          <md-card-subtitle>Quality Score</md-card-subtitle>
          <md-card-content fxLayout="column" fxLayoutAlign="center center">
            <span class="mat-headline">{{ evaluation.score }}%</span>
          </md-card-content>
          <md-card-subtitle>Total Points</md-card-subtitle>
          <md-card-content fxLayout="column" fxLayoutAlign="center center">
            <span class="mat-headline">{{ evaluation.total_points }}</span>
          </md-card-content>
          <md-card-subtitle>Total Items</md-card-subtitle>
          <md-card-content fxLayout="column" fxLayoutAlign="center center">
            <span class="mat-headline">{{ evaluation.total_items }}</span>
          </md-card-content>
        </md-card>
      </div>
      <md-card>
        <md-card-title>Other Information</md-card-title>
        <md-card-content>  
          <ng-container *ngIf="evaluation.call_details.length; else noData">
            <md-list fxLayout="row" fxLayoutWrap fxFlex>
              <md-list-item *ngFor="let detail of evaluation.call_details" fxFlex="100" fxFlex.gt-md="50">
                <h3 mdLine>{{ detail.value }}</h3>
                <p mdLine>{{ detail.label }}</p>
              </md-list-item>
            </md-list>
          </ng-container>
          <ng-template #noData>
            <p class="mat-body-1">Nothing to display.</p>
          </ng-template>
        </md-card-content>
      </md-card>
      <md-card *ngFor="let category of evaluation.content">
        <md-card-content>
          <table class="table">
            <tr>
              <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">{{ category.name }}</th>
              <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Rating</th>
              <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Point Allocation</th>
              <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Comments</th>
            </tr>
            <tr *ngFor="let question of category.questions; let i = index">
              <td>{{ i + 1 }}. {{ question.question }}</td>
              <td>
                <span *ngIf="question.score && question.applicable">Yes</span>
                <span *ngIf="!question.score && question.applicable">No</span>
                <span *ngIf="!question.applicable">N/A</span>
              </td>
              <td>{{ question.points }}</td>
              <td><pre>{{ question.remarks }}</pre></td>
            </tr>
          </table>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>Coaching Comments</md-card-title>
        <md-card-content>
          <ng-container *ngIf="evaluation.remarks; else noRemarks">
            <pre>{{ evaluation.remarks }}</pre>
          </ng-container>
          <ng-template #noRemarks>
            <p class="mat-body-1">Nothing to display.</p>
          </ng-template>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>