<md-sidenav-container class="sidenav-container">
    <md-sidenav #sidenav mode="side" opened="true" class="mat-elevation-z4">
        <md-list *ngIf="canEvaluate || canComposeQuestionnaires">            
            <md-list-item class="nav-item" routerLink="/evaluation" routerLinkActive="active" *ngIf="canEvaluate">
                <md-icon md-list-icon class="material-icons grey-color">playlist_add_check</md-icon>
                <h4 md-line class="grey-color">Evaluation</h4>
            </md-list-item>
            <md-list-item class="nav-item" routerLink="/questionnaires" routerLinkActive="active" *ngIf="canComposeQuestionnaires">
                <md-icon md-list-icon class="material-icons grey-color">question_answer</md-icon>
                <h4 md-line class="grey-color">Questionnaires</h4>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list *ngIf="canManageSettings">
            <h3 md-subheader>Manage</h3>
            <md-list-item class="nav-item" routerLink="/settings/agents" routerLinkActive="active">
                <md-icon md-list-icon class="material-icons grey-color">supervisor_account</md-icon>
                <h4 md-line class="grey-color">Agents</h4>
            </md-list-item>
            <md-list-item class="nav-item" routerLink="/settings/campaigns" routerLinkActive="active">
                <md-icon md-list-icon class="material-icons grey-color">apps</md-icon>
                <h4 md-line class="grey-color">Campaigns</h4>
            </md-list-item>
            <md-list-item class="nav-item" routerLink="/settings/teams" routerLinkActive="active">
                <md-icon md-list-icon class="material-icons grey-color">domain</md-icon>
                <h4 md-line class="grey-color">Teams</h4>
            </md-list-item>
            <md-list-item class="nav-item" routerLink="/settings/work-queues" routerLinkActive="active">
                <md-icon md-list-icon class="material-icons grey-color">add_to_queue</md-icon>
                <h4 md-line class="grey-color">Work Queues</h4>
            </md-list-item>
        </md-list>
        <md-list *ngIf="canManageAccounts">
            <md-list-item class="nav-item" routerLink="/users" routerLinkActive="active">
                <md-icon md-list-icon class="material-icons grey-color">account_box</md-icon>
                <h4 md-line class="grey-color">Users</h4>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <router-outlet></router-outlet>
</md-sidenav-container>
