@import '../../../blue-amber-theme';

md-sidenav-container {
    height: 100%;
}

.nav-item {
    cursor: pointer;
}

.nav-item:hover {
    background: mat-color($primary);
    md-icon,  h4 {
        color: white;
    }
}

.nav-item.active {
    background: white !important;
    md-icon, h4 {
        color: mat-color($primary) !important;
    }
}