<h2 md-dialog-title>Evaluations</h2>
<p>Date is based on call/chat log</p>
<form [formGroup]="form.formGroup" novalidate (ngSubmit)="submit()">
  <md-dialog-content fxLayout="column" fxLayoutGap="10px">
    <md-form-field>
      <input mdInput [max]="form.formGroup.controls.to.value" [mdDatepicker]="from" formControlName="from" placeholder="From">
      <md-datepicker-toggle mdSuffix [for]="from"></md-datepicker-toggle>
      <md-datepicker #from></md-datepicker>
      <md-error>From is required, must be valid and not later than To.</md-error>  
      <md-hint>Time is 00:00</md-hint>
    </md-form-field>
    <md-form-field>
      <input mdInput [min]="form.formGroup.controls.from.value" [mdDatepicker]="to" formControlName="to" placeholder="To">
      <md-datepicker-toggle mdSuffix [for]="to"></md-datepicker-toggle>
      <md-datepicker #to></md-datepicker>
      <md-error>To is required, must be valid and not earlier than From.</md-error>  
      <md-hint>Time is 23:59</md-hint>
    </md-form-field>
  </md-dialog-content>
  <md-dialog-actions *ngIf="!busy" fxLayout="row" fxLayoutAlign="end center">
    <button md-button md-dialog-close>Cancel</button>
    <button md-button color="primary" type="submit">Download</button>
  </md-dialog-actions>
  <md-spinner *ngIf="busy"></md-spinner>
</form>