<div class="app-container">
  <md-toolbar class="mat-elevation-z4">
    <span>Questionnaires</span>
  </md-toolbar> 

  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div fxLayout="column" fxFlex.gt.xs="100" fxFlex.md="60" fxFlex.lg="50" fxFlex.xl="40">
      <md-card>
        <md-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex.xs="100" fxFlex.gt-xs="50" fxLayout="row" fxLayoutAlign="start center">
              <md-input-container fxFlex>
                <input type="text" mdInput placeholder="Search" [formControl]="searchField">
              </md-input-container>
            </div>
            <button md-raised-button color="accent" routerLink="/questionnaires/create" fxHide.xs fxHide.sm fxHide.md>New Questionnaire</button>
          </div>
          <div>    
            <ng-container *ngIf="loading; else elseTemplate">
              <div fxLayout="row" fxLayoutAlign="center center">
                <md-spinner></md-spinner>
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <md-list>
                <md-list-item class="item-clickable" *ngFor="let questionnaire of questionnaires" routerLink="/questionnaires/{{questionnaire.id}}">
                  <h4 md-line>{{questionnaire.name}}</h4>
                </md-list-item>
              </md-list>
              <p *ngIf="!questionnaires.length">Nothing to display</p>
            </ng-template>
          </div>
        </md-card-content>
        <md-card-footer fxLayout="row">
          <md-paginator [length]="total" [pageSize]="perPage" (page)=pageEventCall($event)></md-paginator>
        </md-card-footer>
      </md-card>
    </div>
  </div>

  <button md-fab class="md-fab-bottom-right" mdTooltip="Questionnaire" [mdTooltipPosition]="'above'" routerLink="/questionnaires/create" fxHide.gt-md>
    <md-icon class="material-icon">add</md-icon>
  </button>
</div>