<ng-container *ngIf="loading; else elseTemplate">
    <div fxLayout="row" fxLayoutAlign="center center">
      <md-spinner></md-spinner>
    </div>
</ng-container>
<ng-template #elseTemplate>
  <md-list>
    <md-list-item class="item-clickable" *ngFor="let workQueue of workQueues">
      <p md-line>{{workQueue.name}}</p>
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon class="material-icons grey-color">more_vert</md-icon>  
      </button>  
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="openEditDialog(workQueue)">Edit</button>
        <button md-menu-item (click)="confirmDelete(workQueue)">Delete</button>
      </md-menu>
    </md-list-item>
  </md-list>
  <p *ngIf="!workQueues.length">Nothing to display.</p>
</ng-template>


