<h2 md-dialog-title class="mat-input-error">{{ data.statusText }}</h2>
<md-dialog-content>
  <p>{{ data.message }}</p>
</md-dialog-content>
<ng-container *ngIf="busy; else elseTemplate">
  <md-spinner></md-spinner>
</ng-container>
<ng-template #elseTemplate>
  <md-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button md-button *ngIf="data.status == 500" (click)="sendReport()">Send Report</button>
    <span flex></span>
    <button md-button (click)="close()">{{ data.buttonLabel }}</button>
  </md-dialog-actions>
</ng-template>
