<p class="mat-body-1" *ngIf="sorting.sortedBy">
  <span>Sorted by: <strong>{{sorting.sortedBy}}</strong> in </span> 
  <ng-container *ngIf="sorting.sortReverse; then descending; else ascending"></ng-container>
  <ng-template #descending>
    <span>descending order.</span>
  </ng-template>
  <ng-template #ascending>
    <span>ascending order.</span>
  </ng-template>
</p> 
<ng-container *ngIf="loading; else done">
  <div fxLayout="row" fxLayoutAlign="center center">
    <md-spinner></md-spinner>
  </div>
</ng-container>
<ng-template #done>
  <ng-container *ngIf="evaluations.length; else noResultsFound">
    <div class="scrollable-x">
      <table class="table table-bordered table-hover table-striped">
        <thead class="table-inverse">
          <tr>
            <th class="item-clickable" *ngFor="let header of sorting.sortHeaders" (click)="sorting.sort(evaluations, header.value, !sorting.sortReverse)">
              <button md-button>
                {{header.label}}
                <ng-container *ngIf="sorting.sortType==header.value">
                  <md-icon *ngIf="sorting.sortReverse" class="material-icons grey-color">arrow_upward</md-icon>
                  <md-icon *ngIf="!sorting.sortReverse" class="material-icons grey-color">arrow_downward</md-icon>
                </ng-container>
              </button> 
            </th>
          </tr>
        </thead>
        <tr class="item-clickable" *ngFor="let evaluation of evaluations" (click)="view(evaluation)">
          <td>{{evaluation.agent.name}}</td>
          <td>{{evaluation.campaign.name}}</td>
          <td>{{evaluation.team.name}}</td>
          <td>{{evaluation.work_queue.name}}</td>
          <td>{{evaluation.reference_code}}</td>
          <td>{{evaluation.call_history | date: 'short'}}</td>
          <td>{{evaluation.score}}%</td>
          <td>{{evaluation.auto_fail ? 'Yes' : 'No'}}</td>
          <td>{{evaluation.user.name}}</td>
          <td>{{evaluation.created_at | date: 'short'}}, CT</td>
          <td mdTooltip="{{evaluation.updated_at | date: 'medium'}}">{{evaluation.updated_at | amTimeAgo:true}} ago</td>
        </tr>
      </table>
    </div>
  </ng-container>
  <ng-template #noResultsFound>
    <p>Nothing to display</p>
  </ng-template>
</ng-template>   
  
  
  