<div class="app-container">
  <md-toolbar class="mat-elevation-z4">
    <span>{{ campaign.name }}</span>
    <md-icon class="material-icon">keyboard_arrow_right</md-icon>
    <span>{{ workQueue.name }}</span>
  </md-toolbar> 

  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div fxLayout="column" fxFlex.gt.xs="100" fxFlex.lg="80" fxFlex.xl="70" fxLayoutGap="20px">
      <md-card *ngFor="let team of teams">
        <md-card-title>{{ team.name }}</md-card-title>
        <md-card-content fxLayout="column" fxLayoutGap="20px">
          <md-accordion *ngIf="team.average">
            <md-expansion-panel>
              <md-expansion-panel-header>
                <md-panel-title>Column Chart</md-panel-title>
              </md-expansion-panel-header>
              <app-column-chart [title]="team.name" [categories]="weeks(dateRanges)" [series]="series(team)"></app-column-chart>
            </md-expansion-panel>

            <md-expansion-panel>
              <md-expansion-panel-header>
                <md-panel-title>Line Chart</md-panel-title>
              </md-expansion-panel-header>
              <app-line-chart [title]="team.name" [categories]="weeks(dateRanges)" [series]="series(team)"></app-line-chart>
            </md-expansion-panel>
          </md-accordion>
          <table class="table">
            <tr>
              <th></th>
              <th *ngFor="let dateRange of dateRanges; let i = index" mdTooltip="{{dateRange}}">Week {{ i + 1 }}</th>
              <th>Average</th>
            </tr>
            <tr *ngFor="let agent of team.agents" class="item-clickable" (click)="viewEvaluations(agent)">
              <td>{{ agent.name }}</td>
              <td *ngFor="let score of agent.scores">{{ score }}%</td>
              <td>{{ agent.average }}%</td>
            </tr>
            <tr>
              <th>Overall Quality Score</th>
              <td *ngFor="let dateRange of dateRanges"></td>
              <th>{{ team.average }}%</th>
            </tr>
          </table>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
