<h2 md-dialog-title>{{workQueue.name}}</h2>
<form [formGroup]="editWorkQueueForm.formGroup" (ngSubmit)="submit()" novalidate>
  <md-dialog-content fxLayout="column" fxLayoutGap="20px">
    <app-error [message]="'Name already in use.'" *ngIf="hasDuplicate && !busy"></app-error>
    <!-- Name -->
    <md-input-container>
      <input type="text" name="Name" placeholder="Name" formControlName="name" mdInput>
      <md-error *ngIf="editWorkQueueForm.errors.name">{{ editWorkQueueForm.errors.name }}</md-error>
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions *ngIf="!busy" fxLayout="row" fxLayoutAlign="end center">
    <button type="submit" md-button color="primary">Save</button>
  </md-dialog-actions>
  <md-spinner *ngIf="busy"></md-spinner>
</form>