<div [formGroup]="form.formGroup">
  <md-card>
    <md-card-subtitle>Coaching Remarks</md-card-subtitle>
    <md-card-content>
      <md-form-field fxFlex>
        <textarea mdInput formControlName="remarks" placeholder="Strengths and Areas For Improvement"></textarea>
      </md-form-field>
    </md-card-content>
  </md-card>
</div>