<md-card [formGroup]="form.formGroup" fxFlex>
  <md-card-subtitle>Details</md-card-subtitle>
  <md-card-content fxLayout="row" fxLayoutWrap fxLayoutGap="20px">
    <div fxFlex="45" fxLayout="column">
      <md-form-field>
        <input mdInput placeholder="Reference ID" formControlName="referenceCode">
        <md-error>Reference ID is required.</md-error>
      </md-form-field>
      <app-input-error *ngIf="hasDuplicate" message="Reference ID already has an evaluation"></app-input-error>
    </div>

    <div fxFlex="45" fxLayout="column">
      <md-slide-toggle color="primary" formControlName="autoFail">Auto Fail</md-slide-toggle>
    </div>

    <div fxFlex="45" fxLayout="column">
      <md-form-field>
        <input type="text" mdInput placeholder="Agent Name" formControlName="agent" [mdAutocomplete]="agent">
        <md-error>Agent name is required.</md-error>
      </md-form-field>
      <app-input-error *ngIf="!agentExists && form.formGroup.controls.agent.dirty" message="Agent doesn't exists"></app-input-error>
      <md-autocomplete #agent="mdAutocomplete" [displayWith]="displayName">
        <md-option *ngFor="let agent of agents" [value]="agent">
          {{agent.name}}
        </md-option>
      </md-autocomplete>
    </div>
    
    <div fxFlex="45" fxLayout="column">
      <md-form-field>
        <input type="text" mdInput placeholder="Campaign" formControlName="campaign" [mdAutocomplete]="campaign">
        <md-error>Campaign is required.</md-error>
      </md-form-field>
      <app-input-error *ngIf="!campaignExists && form.formGroup.controls.campaign.dirty" message="Campaign doesn't exists"></app-input-error>
      <md-autocomplete #campaign="mdAutocomplete" [displayWith]="displayName">
        <md-option *ngFor="let campaign of campaigns" [value]="campaign">
          {{campaign.name}}
        </md-option>
      </md-autocomplete>  
    </div>

    <div fxFlex="45" fxLayout="column">
      <md-form-field>
        <input type="text" mdInput placeholder="Team" formControlName="team" [mdAutocomplete]="team">
        <md-error>Team is required.</md-error>
      </md-form-field>
      <app-input-error *ngIf="!teamExists && form.formGroup.controls.team.dirty" message="Team doesn't exists"></app-input-error>
      <md-autocomplete #team="mdAutocomplete" [displayWith]="displayName">
        <md-option *ngFor="let team of teams" [value]="team">
          {{team.name}}
        </md-option>
      </md-autocomplete>  
    </div>
    
    <div fxFlex="45" fxLayout="column">
      <md-form-field>
        <input type="text" mdInput placeholder="Work Queue" formControlName="workQueue" [mdAutocomplete]="workQueue">
        <md-error>Work queue is required.</md-error>
      </md-form-field>
      <app-input-error *ngIf="!workQueueExists && form.formGroup.controls.workQueue.dirty" message="Work queue doesn't exists"></app-input-error>
      <md-autocomplete #workQueue="mdAutocomplete" [displayWith]="displayName">
        <md-option *ngFor="let workQueue of workQueues" [value]="workQueue">
          {{workQueue.name}}
        </md-option>
      </md-autocomplete>  
    </div>
    
    <div fxFlex="45">
      <md-form-field>
        <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" formControlName="callDate">
        <md-datepicker-toggle  mdSuffix [for]="picker"></md-datepicker-toggle >
        <md-error>Call date is required and must be valid.</md-error>
      </md-form-field>
      <md-datepicker #picker></md-datepicker>
    </div>
    <div fxFlex="45">
      <ngb-timepicker formControlName="callTime" formControlName="callTime"></ngb-timepicker>
      <app-input-error *ngIf="form.formGroup.controls.callTime.invalid && (form.formGroup.controls.callTime.touched || submitted)" message="Call time is required and must be valid."></app-input-error>
    </div>
  </md-card-content>
</md-card>