<div class="app-container">
  <md-toolbar class="mat-elevation-z4">
    <span>Users</span>
  </md-toolbar> 

  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div fxLayout="column" fxFlex.gt.xs="100" fxFlex.md="60" fxFlex.lg="50" fxFlex.xl="40">
      <md-card>
        <md-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex.xs="100" fxFlex.gt-xs="50" fxLayout="row" fxLayoutAlign="start center">
              <md-input-container fxFlex>
                <input type="text" mdInput placeholder="Search" [formControl]="searchField">
              </md-input-container>
            </div>
            <button md-raised-button color="accent" routerLink="/users/create" fxHide.xs fxHide.sm fxHide.md>New User</button>
          </div>
          <!-- List -->
          <ng-container *ngIf="loading; else elseTemplate">
            <md-spinner></md-spinner>
          </ng-container>
          <ng-template #elseTemplate>
            <md-list>
              <md-list-item *ngFor="let user of users">
                <h3 md-line>{{user.name}}</h3>
                <h4 md-line>{{user.email}}</h4>
                <button md-icon-button [mdMenuTriggerFor]="menu">
                  <md-icon class="material-icons grey-color">more_vert</md-icon>  
                </button>  
                <md-menu #menu="mdMenu">
                  <button md-menu-item routerLink="/users/{{user.id}}/edit">Edit</button>
                  <button md-menu-item (click)="delete(user)">Delete</button>
                </md-menu>
              </md-list-item>
            </md-list> 
            <p *ngIf="!users.length">Nothing to display</p>
          </ng-template>
        </md-card-content>
        <!-- Paginator -->
        <md-card-footer fxLayout="row" *ngIf="total">
          <md-paginator [length]="total" [pageSize]="perPage" (page)="sendPageEvent($event)"></md-paginator>
        </md-card-footer>
      </md-card>
    </div>
    <!-- FAB -->
    <button md-fab class="md-fab-bottom-right" mdTooltip="New User" [mdTooltipPosition]="'above'" routerLink="/users/create" fxHide.gt-md>
      <md-icon class="material-icon">add</md-icon>
    </button>
  </div>
</div>