<h2 md-dialog-title>New Evaluation</h2>
<form novalidate (ngSubmit)="submit()">
  <md-dialog-content>
    <md-form-field>
      <input type="text" mdInput placeholder="Questionnaire" [formControl]="questionnaireFormControl" [mdAutocomplete]="auto">
      <md-error *ngIf="questionnaireFormControl.hasError('required')">Questionnaire is required.</md-error>
      <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayName">
        <md-option *ngFor="let questionnaire of questionnaires" [value]="questionnaire">
          {{ questionnaire.name }}
        </md-option>
      </md-autocomplete>
    </md-form-field>
    <app-input-error *ngIf="!questionnaireExists && questionnaireFormControl.dirty" message="Questionnaire doesn't exists."></app-input-error>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-button md-dialog-close>Cancel</button>
    <button md-button color="primary" type="submit">Create</button>
  </md-dialog-actions>
  <md-spinner *ngIf="busy"></md-spinner>
</form>