<div class="app-container">
  <md-toolbar class="mat-elevation-z4">
    <span>Dashboard</span>
    <md-toolbar-row fxLayout="row" fxLayout="start center" fxLayoutGap="20px">
      <button md-icon-button (click)="refresh()">
        <md-icon class="material-icon grey-color">refresh</md-icon>
      </button>
      <form novalidate [formGroup]="form">
        <md-select placeholder="Month" formControlName="month">
          <md-option *ngFor="let month of months" [value]="month">{{month}}</md-option>
        </md-select>
        <md-select placeholder="Year" formControlName="year">
          <md-option *ngFor="let year of years" [value]="year">{{year}}</md-option>
        </md-select>
      </form>
    </md-toolbar-row>
  </md-toolbar> 
  
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div fxLayout="column" fxFlex.gt.xs="100" fxFlex.lg="80" fxFlex.xl="70" fxLayoutGap="20px" class="no-scroll-x">
      <ng-container *ngIf="loading; else elseTemplate">
        <div fxLayout="row" fxLayoutAlign="center center">
          <md-spinner ></md-spinner>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <md-card *ngFor="let campaign of campaigns">
          <md-card-title class="mat-subheading-2">{{campaign.name}}</md-card-title>
          <md-card-content fxLayout="column" fxLayoutGap="20px">
            <md-accordion *ngIf="campaign.average">
              <md-expansion-panel>
                <md-expansion-panel-header>
                  <md-panel-title>Column Chart</md-panel-title>
                </md-expansion-panel-header>
                <app-column-chart [title]="campaign.name" [categories]="weeks(dateRanges)" [series]="series(campaign)"></app-column-chart>
              </md-expansion-panel>

              <md-expansion-panel>
                <md-expansion-panel-header>
                  <md-panel-title>Line Chart</md-panel-title>
                </md-expansion-panel-header>
                <app-line-chart [title]="campaign.name" [categories]="weeks(dateRanges)" [series]="series(campaign)"></app-line-chart>
              </md-expansion-panel>
            </md-accordion>

            <div class="scrollable-x">
              <table class="table">
                <tr>
                  <th>{{form.controls.month.value}}</th>
                  <th *ngFor="let dateRange of dateRanges; let i = index" mdTooltip="{{dateRange}}">Week {{ i + 1 }}</th>
                  <th>Average</th>
                </tr>
                <tr *ngFor="let workQueue of campaign.work_queues" class="item-clickable" routerLink="/campaign/{{ campaign.id }}/work-queue/{{ workQueue.id }}/month/{{ form.value.month }}/year/{{ form.value.year }}">
                  <td>{{ workQueue.name }} Quality Average</td>
                  <td *ngFor="let score of workQueue.scores">{{ score }}%</td>
                  <td>{{ workQueue.average }}%</td>
                </tr>
                <tr>
                  <th>Overall Quality Score</th>
                  <th *ngFor="let weekly of campaign.weekly_overall">{{ weekly }}%</th>
                  <th>{{ campaign.average }}%</th>
                </tr>
              </table>
            </div>
          </md-card-content>
        </md-card>
      </ng-template>
    </div>
  </div>
</div>