<md-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <button fxHide.gt-xs md-icon-button (click)="toggleSidenav()">
                <md-icon class="material-icons">menu</md-icon>
            </button>
            <button md-button routerLink="/">
                <img src="/assets/img/2Color-Logo_247px-1024x195_white.png" alt="Personiv" id="logo">
            </button>
            <span>{{ name }}</span>
        </div>
        <div>
            <button md-button [mdMenuTriggerFor]="menu">
                <md-icon class="material-icons">account_circle</md-icon>
                <span fxHide.xs>{{ user }}</span> 
            </button>
            <md-menu #menu="mdMenu">
                <button md-menu-item (click)="changePassword()">Change Password</button>
                <button md-menu-item (click)="logout()">Logout</button>
            </md-menu>
        </div>
    </div>
</md-toolbar>

