<div class="app-container">
  <md-toolbar class="mat-elevation-z4">
    <span *ngIf="questionnaire">{{questionnaire.name}}</span>
  </md-toolbar> 
  <div fxLayout="row" fxLayoutAlign="center start" class="content">
    <div fxFlex.gt.xs="100" fxFlex.md="70" fxFlex.lg="60" fxFlex.xl="50">
      <form [formGroup]="formGroup" novalidate fxLayout="column" fxLayoutGap="20px">
        <div formArrayName="content" fxLayout="column" fxLayoutGap="20px">
          <md-card *ngFor="let category of formGroup.controls.content.controls; let categoryIndex = index" [formGroupName]="categoryIndex">
            <md-card-subtitle fxLayout="row" fxLayoutAlign="space-between center">
              <div fxFlex.lt-md="100" fxFlex.gt-md="50" fxLayout="row" fxLayoutAlign="start center">
                <!-- Category -->
                <md-input-container fxFlex>
                  <input type="text" mdInput placeholder="Category" formControlName="name">
                  <md-error *ngIf="!category.controls.name.valid">Name is required.</md-error>
                </md-input-container>
              </div>
              <button type="button" md-icon-button *ngIf="formGroup.controls.content.controls.length > 1" (click)="removeCategory(categoryIndex)">
                <md-icon class="material-icon">close</md-icon>
              </button>
            </md-card-subtitle>
            <md-card-content fxLayout="column" formArrayName="questions">
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" *ngFor="let item of category.controls.questions.controls; let questionIndex = index" [formGroupName]="questionIndex">
                <!-- Question -->
                <md-input-container fxFlex="70">
                  <textarea mdInput placeholder="Question" formControlName="question"></textarea>
                  <md-error *ngIf="!item.controls.question.valid">Question is required.</md-error>  
                </md-input-container>
                <!-- Points -->
                <md-input-container fxFlex>
                  <input type="number" mdInput placeholder="Points" formControlName="points" min="1">
                  <md-error *ngIf="!item.controls.points.valid">Points is required and cannot be lower than 1.</md-error>  
                </md-input-container>
                <button type="button" md-icon-button *ngIf="category.controls.questions.controls.length > 1" (click)="removeQuestion(categoryIndex, questionIndex)">
                  <md-icon class="material-icon grey-color">delete</md-icon>
                </button>
              </div>
            </md-card-content>
            <md-card-actions fxLayout="row" fxLayoutAlign="space-between center">
              <button type="button" md-button color="primary" (click)="addQuestion(categoryIndex)">Add Question</button>
            </md-card-actions>
          </md-card>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button type="button" md-button color="primary" (click)="addCategory()">Add Category</button>
          <div>
            <button type="submit" md-button color="accent" (click)="saveAs()">Save As</button>
            <button type="submit" md-raised-button color="accent" (click)="save()">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>