<div fxLayout="column" fxLayoutGap="20px">
  <md-card [formGroup]="form.formGroup">
    <md-card-subtitle>Other Information</md-card-subtitle>
    <md-card-content fxLayout="column" formArrayName="callDetails">
      <ng-container *ngIf="form.formGroup.controls.callDetails.controls.length; else elseTemplate">
        <div fxLayout="row" fxLayoutGap="20px" *ngFor="let callDetail of form.formGroup.controls.callDetails.controls; let callDetailIndex = index" [formGroupName]="callDetailIndex">
          <md-form-field fxFlex>
            <input mdInput placeholder="Label" formControlName="label">
            <md-error *ngIf="callDetail.controls.label.invalid">Label is required.</md-error>  
          </md-form-field>
          
          <md-form-field fxFlex>
            <input mdInput placeholder="Value" formControlName="value">
            <md-error *ngIf="callDetail.controls.value.invalid">Value is required.</md-error>  
          </md-form-field>
          <button type="button" md-icon-button (click)="form.removeCallDetail(callDetailIndex)">
            <md-icon class="material-icon grey-color">delete</md-icon>
          </button>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <p class="mat-body-1">Nothing to display</p>
      </ng-template>
    </md-card-content>
    <md-card-actions fxLayout="row" fxLayoutAlign="end center">
      <button type="button" md-button color="primary" (click)="form.addCallDetail()">Add Call Detail</button>
    </md-card-actions>
  </md-card>
</div>