@import '~@angular/material/theming';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-blue);
$accent:  mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$blue-amber-theme: mat-light-theme($primary, $accent, $warn);