/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "./blue-amber-theme";

body {
   overflow: hidden; 
   height: 100vh;
   max-height: 100vh;
   background: #eceff1;
   margin:0px;
}

a {
    text-decoration: none;
}

label {
    font-weight: normal;
}

.grey-color {
    color:#6b6b6b;
}

.primary-color{
    color: mat-color($primary);
}

app-page-not-found {
    height: 100%;
}

.content { 
    padding:20px;
    margin-bottom:10vh;
}

.md-fab-bottom-right {
    position: fixed !important;
    bottom: 9vh !important;
    right: 3vh !important;
}

.item-clickable {
    cursor: pointer;
}

.app-container {
    max-height: 100%;
    overflow: auto;
    /* padding-bottom: 50px; */
}

th, td {
    text-align: center;
}

pre {
    font-family: inherit !important;
    border: none;
    background: none;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    overflow: hidden;  
}

.scrollable-x {
    overflow-x: auto;
}

.no-scroll-x {
    overflow-x: hidden;
}