<div class="app-container">
  <md-toolbar class="mat-elevation-z4">
    <span>{{ settings.state }}</span>
  </md-toolbar> 
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div fxLayout="column" fxFlex.gt.xs="100" fxFlex.md="60" fxFlex.lg="50" fxFlex.xl="40">
      <md-card>
        <md-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex.xs="100" fxFlex.gt-xs="50" fxLayout="row" fxLayoutAlign="start center">
              <md-input-container fxFlex>
                <input type="text" mdInput placeholder="Search" [formControl]="settings.searchField">
              </md-input-container>
            </div>
            <button md-raised-button color="accent" (click)="settings.addForm()" fxHide.xs fxHide.sm fxHide.md>Add {{settings.model}}</button>
          </div>
          <!-- List -->
          <div>
            <router-outlet></router-outlet>
          </div>
        </md-card-content>
        <!-- Paginator -->
        <md-card-footer fxLayout="row" *ngIf="settings.total">
          <md-paginator [length]="settings.total" [pageSize]="settings.perPage" (page)="settings.sendPageEvent($event)"></md-paginator>
        </md-card-footer>
      </md-card>
    </div>
    <!-- FAB -->
    <button md-fab class="md-fab-bottom-right" mdTooltip="{{settings.model}}" [mdTooltipPosition]="'above'" (click)="settings.addForm()" fxHide.gt-md>
      <md-icon class="material-icon">add</md-icon>
    </button>
  </div>
</div>
